<!DOCTYPE html>
<html ng-app="MongoApp">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mongo Blog</title>
    <link rel="stylesheet" type="text/css" href="/static/content/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/static/content/site.css" />
    <link rel="stylesheet" type="text/css" href="/static/content/index.css" />
    <script src="/static/scripts/modernizr-2.6.2.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="/static/scripts/underscore-min.js"></script>
    <script src="/static/scripts/Angular/ArticleController.js"></script>
    <script src="/static/scripts/Angular/ArticleFactory.js"></script>
</head>

<body ng-controller="ArticleController as ctrl" ng-init="ctrl.init()" ng-cloak>

    <div id="loginModal" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Login</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group row">
                        <label for="login-email-input" class="col-xs-2 col-form-label">Email</label>
                        <div class="col-xs-10">
                            <input ng-model="ctrl.loginEmailInput" class="form-control" type="text" id="login-email-input">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="login-password-input" class="col-xs-2 col-form-label">Password</label>
                        <div class="col-xs-10">
                            <input ng-model="ctrl.loginPasswordInput" class="form-control" type="password" id="login-password-input">
                        </div>
                    </div>
                    <div class="alert alert-danger" ng-show="ctrl.loginError">
                        There are no users that match the email and password informed!
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button type="button" ng-click="ctrl.login()" class="btn btn-primary">Log in</button>
                </div>
            </div>
        </div>
    </div>

    <div id="signinModal" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Sign up</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group row">
                        <label for="signin-name-input" class="col-xs-2 col-form-label">Name</label>
                        <div class="col-xs-10">
                            <input ng-model="ctrl.signinNameInput" class="form-control" type="text" id="signin-name-input">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="signin-email-input" class="col-xs-2 col-form-label">Email</label>
                        <div class="col-xs-10">
                            <input ng-model="ctrl.signinEmailInput" class="form-control" type="text" id="signin-email-input">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="signin-password-input" class="col-xs-2 col-form-label">Password</label>
                        <div class="col-xs-10">
                            <input ng-model="ctrl.signinPasswordInput" class="form-control" type="password" id="signin-password-input">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="signin-confirm-password-input" class="col-xs-2 col-form-label">Confirm Password</label>
                        <div class="col-xs-10">
                            <input ng-model="ctrl.signinConfirmPasswordInput" class="form-control" type="password" id="signin-confirm-password-input">
                        </div>
                    </div>
                    <div class="alert alert-danger" ng-show="ctrl.signinError">
                        <p>{{ctrl.signinMessage}}</p>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button type="button" ng-click="ctrl.signin()" class="btn btn-primary">Sign in</button>
                </div>
            </div>
        </div>
    </div>

    <div id="deleteArticleModal" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Delete</h4>
                </div>
                <div class="modal-body">
                    <div class="alert alert-danger">
                        <p>You are about to delete this article. Are you sure?</p>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button type="button" ng-click="ctrl.deleteArticle()" class="btn btn-primary">Delete</button>
                </div>
            </div>
        </div>
    </div>

    <div id="createArticleModal" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Create new Article</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group row">
                        <label for="create-article-name-input" class="col-xs-2 col-form-label">Name</label>
                        <div class="col-xs-10">
                            <input ng-model="ctrl.createArticleNameInput" class="form-control" type="text" id="create-article-name-input">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="create-article-text-input" class="col-xs-2 col-form-label">Text</label>
                        <div class="col-xs-10">
                            <textarea rows="4" ng-model="ctrl.createArticleTextInput" class="form-control" id="create-article-text-input"></textarea>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="create-article-tags-input" class="col-xs-2 col-form-label">Tags</label>
                        <div class="col-xs-10">
                            <input ng-model="ctrl.createArticleTagsInput" class="form-control" type="text" id="create-article-tags-input">
                            <small class="form-text text-muted">Separate the tags with a comma (,)</small>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="create-article-categories-input" class="col-xs-2 col-form-label">Categories</label>
                        <div class="col-xs-10">
                            <input ng-model="ctrl.createArticleCategoriesInput" class="form-control" type="text" id="create-article-categories-input">
                            <small class="form-text text-muted">Separate the categories with a comma (,)</small>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="create-article-slug-input" class="col-xs-2 col-form-label">Name</label>
                        <div class="col-xs-10">
                            <input ng-model="ctrl.createArticleSlugInput" class="form-control" type="text" id="create-article-slug-input">
                            <small class="form-text text-muted">http://localhost:8080/Article/{{ctrl.createArticleSlugInput}}</small>
                        </div>
                    </div>
                    <div class="alert alert-danger" ng-show="ctrl.createArticleError">
                        <p>{{ctrl.createArticleMessage}}</p>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button type="button" ng-click="ctrl.createArticle()" class="btn btn-primary">Create</button>
                </div>
            </div>
        </div>
    </div>


    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Mongo Blog</a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-left">
                    <li ng-if="ctrl.loggedUser != null"><a ng-click="ctrl.createArticleModal()" href="">Create new article</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li ng-if="ctrl.loggedUser != null"><a href="">Hello! {{ctrl.loggedUser.name}}</a></li>
                    <li class="pointer" ng-if="ctrl.loggedUser != null"><a ng-click="ctrl.logout()" href="">Log out</a></li>
                    <li class="pointer" ng-if="ctrl.loggedUser == null"><a ng-click="ctrl.logInModal()">Log in</a></li>
                    <li class="pointer" ng-if="ctrl.loggedUser == null"><a ng-click="ctrl.signInModal()">Sign in</a></li>
                </ul>
            </div>
        </div>
    </nav>
<div class="main">
    <div ng-show="ctrl.globalMessageShow" class="alert" ng-class="ctrl.globalMessageClass">
        <strong>{{ctrl.globalMessageTitle}}</strong> {{ctrl.globalMessage}}
    </div>
    <div ng-repeat="article in ctrl.articles">
        <div class="jumbotron article">
            <div class="row header">
                <div class="col-md-4 delete">
                    <i class="glyphicon glyphicon-trash tooltip-item pointer" ng-show="ctrl.loggedUser != null && ctrl.loggedUser.oid == article.author" title="Delete Article" ng-click="ctrl.deleteArticleModal(article.oid)"></i>
                    <i class="glyphicon glyphicon-pencil tooltip-item pointer" ng-show="ctrl.loggedUser != null && ctrl.loggedUser.oid == article.author" style="margin-left: 10px" title="Edit Article" ng-click="ctrl.editArticleModal(article.oid)"></i>
                </div>
                <div class="col-md-4 title">
                    <div>{{ article.name }}</div>
                </div>
                <div class="col-md-4 date">
                    <div>{{ article.publish_date_formatted }}</div>
                </div>
            </div>
            <div class="body">{{article.text}}</div>
            <div class="footer">
                <div>by {{article.author_name}}</div>
                <div>tags: {{article.tags_joined}} </div>
                <div>categories: {{article.categories_joined}} </div>
            </div>
        </div>
        <div class="row" style="padding: 0 30px 0 30px" ng-show="ctrl.loggedUser != null">
            Leave a comment:
            <textarea input-oid="{{article.oid}}" class="form-control comment-article-text-input"></textarea>
            <button class="btn btn-default submit-comment-button" ng-click="ctrl.createArticleComment(article.oid)">Submit</button>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <h3>Comments</h3>
            </div>
        </div>
        <div class="row" ng-repeat="comment in article.comments">
            <div class="col-sm-1">
                <div class="thumbnail">
                    <img class="img-responsive user-photo" src="https://ssl.gstatic.com/accounts/ui/avatar_2x.png">
                </div>
            </div>

            <div class="col-sm-5">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <strong>{{comment.author_name}}</strong> <span class="text-muted">commented on {{comment.publish_date_formatted}}</span>
                    </div>
                    <div class="panel-body">
                        {{comment.comment}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

    <script src="/static/scripts/jquery-1.10.2.js"></script>
    <script src="/static/scripts/bootstrap.js"></script>
    <script src="/static/scripts/respond.js"></script>

</body>
</html>